a {
    cursor: default;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    background-color: #B6261D;
}

.navbar img {
    margin: 10px 10px 50px 25px;
}

#back-btn {
    margin-left: 25px;
}